<%- include('./partials/header.ejs')%>

    <main class="main_class">
        <body>
            <div class="container py-5">
              <h1 class="text-center mb-4">About Us</h1>
              <div class="row">
                <div class="col-md-6 text-center">
                  <img src="/images/logo.png" alt="About Us Image" class="img-fluid mb-4">
                </div>
                <div class="col-md-6">
                  <p>At SJ Jewelry Trading, we have been providing high-quality jewelry to our customers for over a decade. Our mission is to create beautiful, timeless pieces that our customers can cherish for years to come. Whether you're looking for an engagement ring, a special gift for a loved one, or just something to treat yourself, we have a wide selection of styles and designs to choose from. And if you can't find exactly what you're looking for, our team of expert jewelers can work with you to create a custom piece that perfectly fits your vision. 
                    Thank you for choosing SJ Jewelry Trading. We look forward to serving you.</p>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-md-12">
                  <h2>Our Team</h2>
                </div>
                <div class="col-md-4 mb-4">
                  <div class="team-member">
                    <img src="images/profile.jpeg" alt="Team Member" class="img-fluid mb-3">
                    <h4>Surabhi Jagadeesh</h4>
                    <p>Founder & CEO</p>
                  </div>
                </div>
                <div class="col-md-4 mb-4">
                  <div class="team-member">
                    <img src="images/profile_male.jpeg" alt="Team Member" class="img-fluid mb-3">
                    <h4>John Smith</h4>
                    <p>Creative Director</p>
                  </div>
                </div>
                <div class="col-md-4 mb-4">
                  <div class="team-member">
                    <img src="images/profile.jpeg" alt="Team Member" class="img-fluid mb-3">
                    <h4>Jessica Lee</h4>
                    <p>Head of Sales</p>
                  </div>
                </div>
              </div>
            </div>
            
          </body>
    </main>    

      <%- include('./partials/footer.ejs')%>

    
