<%- include('./partials/header.ejs')%>
    <main class="main_class" >
      <div class=" container-fluid text-center align-items-center">
        <h1><%=error.status%> Error</h1>
          <p><%=error.message%></p><br>
          
      </div>
    </main>
    <div class=" foot fixed-bottom ">

    <%- include('./partials/footer.ejs')%>

    