<%- include('./partials/header.ejs')%>
    <main class="main_class" >
      <div class=" container-fluid text-center align-items-center">
        <h1 class="text-dark fst-italic">SJ Jewelry </h1>
          <p class=" text-dark fst-italic">Make it memorable and special for your loved ones</p><br>
          <a class="shop_now_btn btn btn-info" href="/trades/newTrade">START TRADING</a>
      </div>
    </main>
    <div class=" foot fixed-bottom ">

    <%- include('./partials/footer.ejs')%>

    